<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safetyproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.safetyproject.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.safetyproject.CircleOf6" >
        </activity>
        <activity android:name="com.example.safetyproject.SetTimer" >
        </activity>
        <activity android:name="com.example.safetyproject.LocationActivity" >
        </activity>
        <activity android:name="com.example.safetyproject.SendDataToServer" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.eng4kgestures.GestureActivity" >
        </activity>
        <activity android:name="com.example.eng4kgestures.DeleteGestures" >
        </activity>
        <activity android:name="com.example.eng4kgestures.RecordGestures" >
        </activity>
        <activity android:name="com.example.eng4kgestures.TestGestures" >
        </activity>
        <activity
            android:name="com.example.safetyproject.NewLocationActivity"
            android:label="@string/title_activity_new_location" >
        </activity>
        <activity
            android:name="com.example.safetyproject.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity android:name="com.example.safetyproject.UserProfile" >
        </activity>
        <activity
            android:name="com.example.safetyproject.IAmHereActivity"
            android:label="@string/title_activity_iam_here" >
        </activity>
        <activity
            android:name="com.example.safetyproject.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.example.eng4kgestures.GestureRecognitionService" >
        </service>
    </application>

</manifest>
