<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safetyproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.safetyproject.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.safetyproject.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.example.safetyproject.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo_shield"
        android:label="@string/app_name"
        android:logo="@drawable/logo_shield"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.safetyproject.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.safetyproject.CircleOf6"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.SetTimer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.LocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.SendDataToServer"
            android:screenOrientation="portrait" >
        </activity>

        <!--
             <receiver android:name="com.example.eng4kgestures.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter> 
        </receiver>
        -->

        <activity
            android:name="com.example.eng4kgestures.GestureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.eng4kgestures.DeleteGestures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.eng4kgestures.RecordGestures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.eng4kgestures.TestGestures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.NewLocationActivity"
            android:label="@string/title_activity_new_location"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.UserProfile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.IAmHereActivity"
            android:label="@string/title_activity_iam_here"
            android:launchMode="singleTask"
            android:parentActivityName="com.example.safetyproject.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.safetyproject.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.example.eng4kgestures.GestureRecognitionService" >
        </service>
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.safetyproject" />
            </intent-filter>
        </receiver>
        <receiver android:name="TimeExpiredBroadcastReceiver" >
        </receiver>
        <!--
        <receiver android:name="VolumeKeyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name="com.example.eng4kgestures.LockScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>